@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-primary{
    background:#2D2D2D;
}

header ul li{
    @apply px-3;
}

.mobile-nav{
    @apply fixed top-10 bg-gray-600 w-full h-1/3;
}

.bg-color{
    color:#ff1493;
    font-size: 14px;
}


.underline-custom {
    text-decoration: underline;
    text-decoration-color: #ff1493;
}

.bg-background{
    background-color:#ff004f;
    
}

.project-desc{
    @apply absolute left-0 right-0 bottom-0 top-0 bg-background opacity-0 duration-500 hover:opacity-100 
    ;
}

.color{
    color:#ff1493;
}

.btn{
    @apply bg-background px-5 py-1 font-bold border-2 border-white rounded-xl ;
}

html{
    scroll-behavior: smooth;
}